.table2{
    width: 1250px;
    margin:30px auto;
    border: 1px;
}
.table2 thead tr th{
    height: 50px;
    width: 120px;
}
.table2 tbody tr td{
    height: 50px;
    width: 120px;
}
.white_content {
    display: none;
    position: absolute;
    top: 40%;
    margin-left:-100px;
    left: 40%;
    margin-top:-15%;
    width: 400px;
    height: 520px;
    padding: 0px;
    border: 0px solid orange;
    z-index:10001;
    overflow: auto;
    background-color:#adadad;
    border-radius: 7px;
    opacity: 0.95;
}
.white_content_file {
    display: none;
    position: fixed;
    top: 30%;
    left: 30%;
    /*margin-left:-200px;*/
    /*margin-top:0px;*/
    width: 350px;
    height: 200px;
    padding: 0px;
    border: 0px solid orange;
    background-color:#FFF;
    z-index:20001;
    overflow: auto;
    background-color:lightblue;
    border-radius: 7px;
}
.white_content_file div{
    margin-left: 70px;
    margin-top: 50px;
}

.white_content .rows{
    height: 50px;
    width: 330px;
    margin-left: 50px;
}
.white_content .rows2{
    height: 100px;
    width: 330px;
    margin-left: 50px;
}
.white_content rows lable{
    width: 30px;
    margin: 5px;
}
.white_content .rows input{
    width: 200px;
    margin: 5px;
}
.white_content .rows select{
    width: 200px;
    height: 25px;
    margin: 5px;
}

/*.white_content .lastrows{*/
    /*margin-left: 250px;*/
/*}*/
.lastrows input{
    border-radius: 4px;
    width: 60px;
    font-weight: 500;
}
.lastrows input:nth-child(1){
    margin-left: 100px;
    margin-bottom: 20px;
}
.lastrows input:nth-child(2){
    margin-left: 100px;
    margin-bottom: 20px;
}
.tbb{
    margin-bottom: 20px;
}
.pagination{
    width: 100%;
    text-align: right;
}
.tablecss{
    width: 1200px;
    margin: 0 auto;
}
.tablecss tr td{
    width:600px;
}
.tablecss tr td input{
    width:170px;
}
.tablecss tr{
    height:50px;
}
label{
    width:100px;
    display:inline-block;
}

.tablecss tr td select{
    width:170px;
    display:inline-block;
}
.searchbtn {
    width: 100px;
    height: 36px;
    font-size:14px;
    /*line-height:36px;*/
    /*float:left;*/
    /*margin-top:5px;*/
    /*margin-left:-2px;*/
    /*background:#2e5c9a;*/
    /*padding:0px 20px;*/
    /*color:#fff;*/
    /*cursor: pointer;*/
    /*border-radius: 8px;*/
}
.content2{
    width:1300px;
    margin:0px auto;
    border:1px solid #CCC;
    margin-bottom: 20px;
}
.margin_50_0{
    margin:30px 0;
}
.margin_top_50{
    margin-top: 20px;
}
ol{
    background-color: #729bd1
}
li a{
    color: black
}
li{
    color: black
}
.btn_100 {
    width: 150px;
    margin-top: 45px;
    margin-left: 20px;
    color: black;
    border-radius: 3px;
    height: 35px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}
.btn_100:hover{
    color: cornflowerblue;
}
.loading{
    display:none;
    height: 100%;
    width: 100%;
    top: 0%;
    left:0%;
    background-color: #777777;
    z-index: 11111;
    position: fixed;
    opacity: 0.5
}
.loading div{
    width:200px;
    height:56px;
    position: fixed;
    top:40%;
    left:40%;
    line-height:56px;
    color:#fff;
    padding-left:60px;
    font-size:15px;
    background: #000 url(../image/loading.gif) no-repeat 10px 50%;
    opacity: 0.7;
    z-index:9999;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.w_100{
    width: 100px;
}
.w_1200{
    width: 1260px;
}
.w_200{
    width: 200px;
}
.wangsen{
    width: 80px;
}
.w_600{
    width: 600px;
}
.w_300{
    width: 300px;
}
.w_500{
    width: 500px;
}
.user_btn{
    border-radius: 3px;
    width: 75px;
}



